<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-dark">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 200px; padding: 10px;padding-left: 30px;">Firstname</th>
          <th scope="col" style="width: 200px; padding: 10px;padding-left: 30px;">Lastname</th>
          <th scope="col" style="width: 200px; padding: 10px;padding-left: 30px;">Email</th>
          <th scope="col" style="width: 300px; padding: 10px;padding-left: 30px;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td style="padding-left: 30px">{{employee.firstName}}</td>
          <td style="padding-left: 30px">{{employee.lastName}}</td>
          <td style="padding-left: 30px">{{employee.emailId}}</td>
          <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 20px">Delete</button>
              <button (click)="updateEmployee(employee.id)" class="btn btn-warning" style="margin-left: 20px">Update</button>
              <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 20px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

