<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #97cff7;">
  
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card"  style="align-items: center;">
    <div class="card-body" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>