<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="firstName">First Name: </label>
    <input id="firstName"  class="form-control" type="text" [(ngModel)]="employee.firstName" formControlName="first_Name">
  
    <label for="lastName">Last Name: </label>
    <input id="lastName"  class="form-control" type="text" [(ngModel)]="employee.lastName" formControlName="last_Name">
  
    <label for="emailId">Email ID: </label>
    <input id="emailId" class="form-control" type="text" [(ngModel)]="employee.emailId" formControlName="email_Id">
    <p>Please fill all fields to enable button.</p>
    <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Submit</button>

  </form>
</div>
